.servicos {
    padding-block: 2.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black);
}

.servicos h2 {
    font-size: 1.875rem;
    line-height: 1.3;
    margin-top: -4rem;
    text-align: center;
    padding-bottom: 1rem;
}

.lista {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .servicos h2 {
        margin-top: -3rem;
    }
}


@media (max-width: 320px) {    
    .lista {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}