.sobre {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--black);
}

.banner {
    display: flex;
    height: 100%;
    width: 100%;
}

.banner::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: bottom;
    z-index: -1;
    opacity: 0.3;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
    margin: 10px;
}

.texto h2 {
    font-size: 1.5rem;
}

.texto p {
    margin-bottom: 1rem;
}

.texto p {
    font-size: 18px;
}

/* media queries */
@media (max-width: 768px) {
    .sobre {
        padding: 10px;
        flex-direction: column;
    }

    .banner {
        position: static;
        width: 100%;
    }


    .texto h2 {
        font-size: 1.3rem;
        padding: 0rem;
    }

    .texto p {
        font-size: 1.2rem;
    }
}

@media (max-width: 424px) {
    .banner{
        width: 100%;
        height: 100%;
    }

    .texto h2{
        font-size: 1.5rem;
        margin-top: -2rem;
    }

    .texto p{
        font-size: 16px;
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: justify;
    }

}
